@import "tailwindcss";

.input {
  @apply w-full rounded-lg border border-gray-300 px-3 py-2 shadow-sm focus:ring-2 focus:ring-indigo-500;
}

.input-small {
  @apply w-full rounded-lg border border-gray-300 px-2 py-1 focus:ring-2 focus:ring-indigo-500;
}

.btn {
  @apply px-5 py-2 rounded-lg bg-indigo-600 text-white font-medium hover:bg-indigo-700;
}

.btn-gray {
  @apply px-5 py-2 rounded-lg bg-gray-100 hover:bg-gray-200 font-medium;
}
